[submodule "solutions/pinevoice_fw_c906"]
	path = solutions/pinevoice_fw_c906
	url = ../pinevoice_fw_c906.git
[submodule "solutions/pinevoice_fw_e907"]
	path = solutions/pinevoice_fw_e907
	url = ../pinevoice_fw_e907.git
[submodule "components/wyoming_c_satellite/src"]
	path = components/wyoming_c_satellite/src
	url = ../wyoming_c_satellite.git
[submodule "components/microwakeword/src"]
	path = components/microwakeword/src
	url = https://github.com/gamelaster/microwakeword-c
